atomicwrites==1.2.1
attrs==18.2.0
docopt==0.6.2
ExifRead==2.1.2
ImageHash==4.0
more-itertools==4.3.0
numpy==1.15.2
Pillow==5.3.0
pluggy==0.7.1
py==1.6.0
pytest==3.8.1
PyWavelets==1.0.1
scipy==1.1.0
six==1.11.0
